body {
	background-color: #3d3d3d !important;
	overflow-x: hidden;
}

#navigation {
	background-color: #2D2926FF;
	/* padding: 5px 2px; */
}

#nav-bar-items {
	margin-left: 5px;
}

.nav-bar-item {
	color: #E94B3CFF;
	font-family: 'Roboto Condensed', sans-serif;
}

/*#first-menu {
	border-right: 0.05px solid #f5f6fa;
}*/

#logo-name {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #E94B3CFF;
}

#logo {
	width: 28px;
	height: 28px;
}

#header {
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://images.unsplash.com/photo-1543536448-d209d2d13a1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	height: 450px;
	padding-top: 105px;
}

#header-title {
	font-family: 'Montserrat', sans-serif;
}

#starting {
	border-left: 1px solid white;
	padding-left: 20px;
	margin: 30px 200px 30px 40px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#title-label {
	font-family: 'Montserrat', sans-serif;
	color: #E94B3CFF;
	text-shadow: 2px 2px #000000;
}

#button-text {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #2D2926FF;
	color: #E94B3CFF;
}

#now-showing {
	border-bottom: #E94B3CFF 0.5px solid;
	margin: 50px 400px;
}

#movie-card {
	width: 100%;
	background-color: #DFE4EA;
}

#movie-poster {
	width: 100%;
	height: 370px;
}

#movie-title {
	font-family: 'Roboto Condensed', sans-serif;
}

.shadow {
  box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

#movies {
	margin: 50px auto;
}

#feedback-art {
	background-color: #b33939;
	height: 500px;
}

#feedback-image {
	width: 400px;
	height: 400px;
}

#feedback-form {
	background-color: #000000;
	padding: 50px 20px;
}

#feedback-label {
	color: #f5f6fa;
	font-family: 'Roboto Condensed', sans-serif;
}

.feedback-text {
	height: 250px;
}

.carousel-item .d-block {
	height: 450px;
}

.card-img-top {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.container:hover .card-img-top {
	opacity: 0.3;
  }
  